/* Простые селекторы*/
header, footer, .navbar, aside, body .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
    font-size: 16px;
}
header, footer, body, .video-container {
    background-color: linen;
}
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar p{
    color: darkgray;
    padding-left: 15%;
}
.navbar a:hover {
    color: aliceblue;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
#header-index {
    color: #44453f;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
    padding-bottom: 60px;
}
.search:hover {
    background-color:lightpink;
}
/*footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}*/
footer {
    /position: sticky;
    можно использовать вместо fixed в зависимости от того, какого эффекта мы хотим добиться/ position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: lightgray;
    margin-left: -2%;
    padding-left: 3%;
    font: normal 16px arial;
    padding-top: 10px;
    line-height: 40%;
}